<p id="notice"><%= notice %></p>

<h3>Listing Categories</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.active %></td>
        <td>
          <div class="btn-group">
          <%= link_to edit_category_path(category.id), class: "btn btn-primary btn-mini" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to category_path(category.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-mini" do %>
            <span class="glyphicon glyphicon-remove-circle"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'New Category', new_category_path, role: "button", class: "btn btn-primary" %>
  <br><br>
  <%= link_to 'Back', category_questions_path( Category.first["id"] ), role: "button", class: "btn btn-primary" %>
